{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="titre">
    <h1>À Propos</h1>  

</div> 

<div class="container">
    <div class="row">
        <div class="col">
            <div class="d-flex"> 
                <div class="txt"> 
                    <h2>Makan MACALOU</h2> 
                    <p class="poste">Développeur intégrateur web Junior</p> 
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione nisi fuga labore, corporis maiores assumenda unde soluta odio quas porro, ut eveniet reprehenderit. Velit ipsam minus voluptatum, voluptate vitae dignissimos.</p>  
                </div>
            
                <div class="photo">
                    <img src="assets/img/photo_makan.png" alt="">
                </div>
            </div>

        </div>
    </div>
</div>






{% endblock %}
