{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="titre">
    <h1>À Propos</h1>  

</div> 

<div class="container">
    <div class="row">
        <div class="col">
            <div class="d-flex"> 
                <div class="txt"> 
                    <h2>Makan MACALOU</h2> 
                    <h3>Développeur Intégrateur Web Junior</h3> 
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione nisi fuga labore, corporis maiores assumenda unde soluta odio quas porro, ut eveniet reprehenderit. Velit ipsam minus voluptatum, voluptate vitae dignissimos.</p>
                      
                    <div class="bouton"> 
                        <a href="#">Voir mon CV</a> 
                    </div>
                </div>
            
                <div class="photo">
                    <img src="assets/img/photo_makan.png" alt="">
                </div>
            </div>


        </div>
    </div>
</div>

<!-- <div class="container">
    <div class="row">
        <div class="col">
            <div class="card mb-3" style="max-width: 540px;"> 
                <div class="row g-0">
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                            
                            <div class="bouton">
                                <a href="#">Voir mon CV</a> 
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4"> 
                      <img src="assets/img/photo_makan.png" class="img-fluid rounded-start" alt="...">
                    </div>
                </div>
              </div>
        </div>
    </div>
</div> -->






{% endblock %}
