{% extends 'base.html.twig' %}

{% block title %}Formations{% endblock %}

{% block body %} 
<div class="container">  
    <h1 class="text-center">Modifier Expériences</h1> 

    {{form(formExperiences)}} 
</div>
{% endblock %} 