body{
    background: rgb(236, 236, 236);
}


/* ****************A PROPOS********************* */
.contain{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.titre{
    background: rgb(255, 208, 0);
    padding: 30px;
    text-align: center; 
    
}

.txt{
    margin-top: 150px;
    width: 40%;
}

.photo img{
    height: 600px;   
}

.d-flex{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

/* ************************BOUTON VOIR MON CV***************** */
.bouton{
    margin-top: 50px;

}

.bouton a{
    background: #000;
    color: white;
    border-radius: 10px 10px 10px 10px;
    padding: 25px 25px;
    text-decoration: none;

}

.bouton a:hover{
    background: rgb(255, 208, 0);
    color: black;
}

/* *****************FOOTER************** */
footer{
    position: relative;
    top: 200px;
}

.bas{
    background: #000;
    height: 200px; 
    display: flex;
    align-items: center;
    justify-content: center;

}

.copyright{
    text-align: center;
    color: white;
 
}

.liste-media{
    display: flex;
    list-style-type: none;
    
}

.liste-media a{
    color: white;
    font-size: 50px;
    margin: 0 20px;
}