{% extends 'base.html.twig' %}

{% block title %}REALISATION{% endblock %}

{% block body %}
<div class="container"> 
    <h1 class="text-center">Ajout Réalisations</h1>
    {{form(formProjets)}} 
</div>
{% endblock %}
