{% extends 'base.html.twig' %}

{% block title %}Hello RegisterController!{% endblock %}

{% block body %}
<div class="container"> 
    <h1 class="text-center">Ajout Compétences</h1>
    {{form(formProjets)}} 
</div>
{% endblock %}
