{% extends 'base.html.twig' %}

{% block title %}REALISATION{% endblock %}

{% block body %}
<div class="titre">
    <h1 class="text-center">AJOUT REALISATION</h1> 

    {{form(formProjets)}} 

</div> 

{% endblock %}
