{% extends 'base.html.twig' %}

{% block title %}Hello MesProjetsController!{% endblock %}

{% block body %}
<div class="titre">
    <h1 class="text-center">Mes projets</h1> 

    {{form(formProjets)}} 

</div> 

{% endblock %}
