{% extends 'base.html.twig' %}

{% block title %}REALISATION{% endblock %}

{% block body %}


<div class="titre"> 
    <h1> Réalisation</h1>  

</div> 

<div class="container"> 
    
    <div class="row"> 
        <div class="col-md-4 mt-5 d-flex"> 
            <div class="card" style="width: 18rem;">
                <img src="{{asset('uploads/images/' ~ projets.images)}}" class="card-img-top" alt="...">                              
              <div class="card-body"> 
                <p class="card-text">{{projets.nom}}</p> 
                <p class="card-text">{{projets.lien}}</p> 
            
              </div> 
            </div>
        </div>
        
    </div>
    
</div>

{% endblock %}
