{% extends 'base.html.twig' %}

{% block title %}Hello CompetencesController!{% endblock %}

{% block body %}


<div class="titre">
    <h1>Mes compétences</h1>  

</div> 

<div class="container"> 
    <div class="row">
        {% for competences in competences %}
        <div class="col-md-3 mt-5 d-flex"> 
            <div class="card" style="width: 18rem;">
              <img src="{{competences.logo}}" class="card-img-top" alt="..."> 
              <div class="card-body">
                <p class="card-text">{{competences.languages}}</p> 
                {%  if is_granted('ROLE_ADMIN') %} 
                <td><a class="btn btn-success" href="{{path('app_admin_competences_edit',{id: competences.id})}}">Modifier</a></td>
                <td><a class="btn btn-danger" href="{{path('app_admin_competences_delete',{id: competences.id})}}">Supprimer</a></td> 
                {% endif %} 
              </div>
            </div>
        </div>
        {% endfor %}

        
    </div>
</div>

{% endblock %}
