{% extends 'base.html.twig' %}

{% block title %}Hello RegisterController!{% endblock %}

{% block body %}
<div class="container">  
    <h1 class="text-center">Modifier Formations</h1>

    {{form(formformations)}} 
</div>
{% endblock %}