{% extends 'base.html.twig' %}

{% block title %}Hello FormationsController!{% endblock %}

{% block body %}

<div class="titre">
    <h1>Mes formations</h1> 

    {{form(formFormation)}}

</div> 
{% endblock %}
