<footer>
    <div class="bas"> 
        <div class="copyright"> 
            <p>Makan Copyright &copy;2022</p> 
        </div>
        
        <div class="icones">
            <ul class="liste-media">
                <li> <a href="https://github.com/Makan14"><i class="fab fa-github"></i> </a> </li> 
                <li> <a href="https://www.linkedin.com/in/makan-macalou/"><i class="fab fa-linkedin"></i> </a> </li>                 
            </ul> 
        </div>
        
        
    </div> 

</footer>
