<footer>
    <div class="bas"> 
        <div class="copyright"> 
            <p>Makan Copyright &copy;2022</p> 
        </div>
        
        <div class="icones">
            <ul class="liste-media">
                <li> <a href="#"><img src="assets/img/github.png" alt=""> </a> </li> 
                <li> <a href="#"><img src="assets/img/linkedin.png" alt=""> </a> </li> 
                
            </ul> 
        </div>
        
    </div> 

</footer>
